@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

html {
    font-size: 16px;
}

:root {
    /* Colors */
    --primary-color: #F4D04E;
    --white: #FFFFFF;
    --black: #000000;
    --grey-950: #111111;
    --grey-500: #6B6B6B;

    /* Spacing */
    --spacing-300: 1.5rem;     /* 24px */
    --spacing-200: 1.25rem;    /* 20px */
    --spacing-150: 0.75rem;    /* 12px */
    --spacing-125: 0.625rem;   /* 10px */
    --spacing-100: 0.5rem;     /* 8px */
    --spacing-50: 0.25rem;     /* 4px */

    /* Font family */
    --font-family: 'Figtree', sans-serif;

    /* Font weights */
    --font-medium: 500;
    --font-extra-bold: 800;

    /* Font sizes */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-base: 1rem;    /* 16px */
    --font-size-lg: 1.5rem;    /* 24px */

    /* Line height */
    --line-height: 150%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

/* Text Preset 1 - Heading */
.text-preset-1 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-extra-bold);
    line-height: var(--line-height);
}

/* Text Preset 2 - Body */
.text-preset-2 {
    font-size: var(--font-size-base);
    font-weight: var(--font-medium);
    line-height: var(--line-height);
}

/* Text Preset 3 - Small */
.text-preset-3 {
    font-size: var(--font-size-sm);
    font-weight: var(--font-medium);
    line-height: var(--line-height);
}

/* Text Preset 3 Bold */
.text-preset-3-bold {
    font-size: var(--font-size-sm);
    font-weight: var(--font-extra-bold);
    line-height: var(--line-height);
}

main {
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}

.card {
    width: 100%;
    max-width: 327px;
    padding: var(--spacing-300); 
    background-color: var(--white);
    border-radius: var(--spacing-200);
    box-shadow: var(--spacing-100) var(--spacing-100) var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-300);
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.card .content .category {
    background-color: var(--primary-color);
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: var(--spacing-50);
    width: fit-content;
}

.card .content .category,
.card .content .date,
.card .content .title {
    color: var(--grey-950);
}

.card .content .description {
    color: var(--grey-500);
}

.card .author {
    display: flex;
    gap: var(--spacing-150);
    align-items: center;
}

.card .author img {
    width: 2rem;
    border-radius: 50%;
}

@media screen and (min-width: 1440px) {
    .card {
        max-width: 384px;
    }
}

