html {
    font-size: 16px;
}

:root {
    --primary-color: #F4D04E;
    --white: #FFFFFF;
    --grey-950: #111111;
    --grey-500: #6B6B6B;

    --spacing-300: 1.5rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;

    --font-size-xs: 0.75rem;    /* 12px */
    --font-size-sm: 0.875rem;   /* 14px */
    --font-size-base: 1rem;     /* 16px */
    --font-size-lg: 1.25rem;    /* 20px */
    --font-size-xl: 1.5rem;     /* 24px */
    --font-size-2xl: 2rem;      /* 32px */
}
